fastapi==0.115.0
uvicorn[standard]==0.30.0

# Agent
langgraph
langchain-core

# LLM
groq

# RAG
chromadb
sentence-transformers
langchain-text-splitters
pypdf

# Database
sqlalchemy==2.0.35

# Config + validation
pydantic==2.8.0
pydantic-settings

# Email
resend

# File uploads
python-multipart==0.0.12

# Rate limiting
slowapi==0.1.9

python-dotenv
